<section>
  <br>
  <h3>Indices</h3>
  <section class="d-flex">
    <form>
      <select
        class="form-select form-select-sm"
        aria-label="Default select example"
        name="timeParam"
        [(ngModel)]="timeParam"
        (change)="getIndices(timeParam)"
      >
        <option value="none" selected disabled hidden></option>
        <option *ngFor="let time of timeDisplay">{{ time }}</option>
      </select>
    </form>
  
  </section>
  <hr />
  <table class="d-flex flex-column">
    <tr class="d-flex justify-content-between">
      <td
        class="fs-6 text border text-success"
        [ngClass]="{ 'text-danger': index < 0 }"
        *ngFor="let index of results"
      >
        {{ index }}%
      </td>
    </tr>
    <tr class="d-flex justify-content-between">
      <td>{{ tickers.get("^GSPC") }}</td>
      <td>{{ tickers.get("^DJI") }}</td>
      <td>{{ tickers.get("^IXIC") }}</td>
      <td>{{ tickers.get("^TNX") }}</td>
    </tr>
  </table>
</section>
