<div class="card" style="width: 100%;">
    <div class="card-header">
      Investment Accounts
    </div>
    <table class="card-table table">
        <thead>
          <tr>
            <th scope="col">Account Name</th>
            <th scope="col" class="rightColumn">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>
                  {{account.name}}
                </td>
                <td class="rightColumn">
                  ${{account.total.toLocaleString('en-US', {maximumFractionDigits:2})}}
                </td>
              </tr>
         
        </tbody>
      </table>
  </div>

