<div id="accordion2">
  <div class="card" style="width: 100%">
    <div
      class="card-header justify-content-between d-flex"
      data-toggle="collapse"
      data-target="#collapseTwo"
    >
      <b>Investments</b>
      <b>${{ sum.toLocaleString() }}</b>
    </div>
    <div
      id="collapseTwo"
      class="collapse show"
      aria-labelledby="headingTwo"
      data-parent="#accordion2"
    >
      <table class="card-table table">
        <tbody>
          <tr *ngFor="let account of accounts">
            <td>
              {{ account.name }}
            </td>
            <td class="rightColumn">
              ${{
                account.total.toLocaleString("en-US", {
                  maximumFractionDigits: 2
                })
              }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
