
#nav{
  height:60px;
}
#container{
  height: calc(100vh - 60px) !important;
}
#main-container {
  display: flex;
  flex-flow: column;
}

#left-section {
  display: flex;
  flex-flow: column;
}

#middle-section {
  display: flex;
  flex-flow: column;
 
}

#right-section {
  display: flex;
  flex-flow: column;
}