<nav id="nav" class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#">{{ user.name }}'s Portfolio</a>
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="24" height="24"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M14.33333,35.83333v14.33333h143.33333v-14.33333zM14.33333,78.83333v14.33333h143.33333v-14.33333zM14.33333,121.83333v14.33333h143.33333v-14.33333z"></path></g></g></svg>
</nav>
<div id="container" class="contaier-fluid ">
  <div class="row h-100">
    <div
      id="left-section"
      class="col-md-2 bg-light pr-0"
    >
      <app-cash-account></app-cash-account>
      <app-invest-account></app-invest-account>
    </div>
    <div id="middle-section" class="col-md-8 ">
      <app-net-worth></app-net-worth>
      <app-cash-flow></app-cash-flow>
    </div>
    <div id="right-section" class="col-md-2  pr-5 bg-light">
      <app-market-movers></app-market-movers>
      <br>
      <app-insights></app-insights>
    </div>
  </div>
</div>
