#main-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#left-section {
    display: flex;
    flex-flow: column;
}

#middle-section {
    display: flex;
    flex-flow: column;
}

#right-section {
    display: flex;
    flex-flow: column;
}