<div class="card" style="width: 14rem;">
    <div class="card-header">
      Investment Accounts
    </div>
    <table class="card-table table">
        <thead>
          <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>
                  {{account.name}}
                </td>
                <td *ngIf="(shift) as shiftLocation">
                </td>
              </tr>
         
        </tbody>
      </table>
  </div>

